body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 80px;
}
span {
  color: #e76f51;
}

.tasty-salad {
  display: flex;
  align-content: ;
  margin-bottom: 100px;
}
.width-half {
  width: 50%;
  padding: 0 10%;
}
.link-btn {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#e63946, #e76f51);
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
}
.img-size {
  width: 80%;
  border-radius: 15px;
}
.left-top-banner {
  background-image: url("image/left-top-banner.png");
  background-repeat: no-repeat;
}
.right-bottom-banner {
  background-image: url("image/banner.png");
  background-position: right;
  background-position-y: 80%;
  background-repeat: no-repeat;
}
.menu-position {
  text-align: center;
}
