body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
#text-size {
  font-size: 80px;
}
span {
  color: #e76f51;
}

.tasty-salad {
  display: flex;
  margin-bottom: 100px;
}
.width-half {
  width: 50%;
  padding: 0 10%;
}
.link-btn {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#e63946, #e76f51);
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
}

.img-size {
  width: 100%;
  border-radius: 15px;
}
.left-top-banner {
  background-image: url("image/left-top-banner.png");
  background-repeat: no-repeat;
}
.right-bottom-banner {
  background-image: url("image/banner.png");
  background-position: right;
  background-position-y: 80%;
  background-repeat: no-repeat;
}
.menu-position {
  text-align: center;
}

.thumb-size {
  width: 100%;
  border-radius: 7%;
  height: 70%;
}
.shadow-box {
  width: 30%;
  margin: 3%;
  padding: 50px;
  border-radius: 7%;
  box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
.menu-link-btn {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#e63946, #e76f51);
  padding: 10px 40px;
  border-radius: 5px;
  margin-left: 30%;
}
.followers {
  width: 33.3%;
  padding: 0 10%;
}
.followers h1 {
  font-size: 40px;
  font-weight: 900;
}

input[type="email"] {
  border: none;
  border-bottom: 2px solid rgb(43, 32, 32);
  margin-right: 10%;
  width: 30%;
}

input[type="password"] {
  border: none;
  border-bottom: 2px solid rgb(43, 32, 32);
  width: 30%;
  margin-right: 5%;
}
footer {
  text-align: center;
  color: aliceblue;
  background: #03071e;
  padding: 20px;
}
